* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Gotham Rounded', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 720px) {
  body {
    width: 100vw;
  }
  .header__container {
    background-color: #10069f;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 5rem;
  }
  .header__container .header__logo__container {
    width: 15%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__container .header__logo__container .header__logo {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .header__container .header__logo__container .header__logo .header__logo__img {
    height: 85%;
    padding-left: 2.5rem;
  }
  .header__container .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    width: 80%;
  }
  .header__container .header__nav .header__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    list-style: none;
    padding-right: 5rem;
    padding-left: 5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__container .header__nav .header__ul .header__li__container {
    padding: 3%;
    text-decoration: none;
  }
  .header__container .header__nav .header__ul .header__li__container :hover {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .header__container .header__nav .header__ul .header__li__container .header__li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 500;
    color: white;
  }
  .buscador__container {
    height: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .buscador__container .buscador {
    height: 100%;
    width: 70%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    border: none;
  }
  .buscador__container .buscador .buscador__filtro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    width: 60%;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    background-color: #10069f;
    border-radius: 10px;
    color: white;
    padding: .5rem 2rem;
    cursor: pointer;
  }
  .buscador__container .buscador .buscador__filtro:hover {
    background-color: white;
    color: #10069f;
    -webkit-transition: .2s;
    transition: .2s;
    font-size: 18px;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .buscador__container .buscador__carrito {
    position: relative;
    height: 100%;
    width: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 2rem;
    cursor: pointer;
  }
  .buscador__container .buscador__carrito .buscador__carrito__svg {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    color: black;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .buscador__container .buscador__carrito .buscador__carrito__svg svg {
    height: 40%;
  }
  .buscador__container .buscador__carrito .buscador__carrito__svg :hover {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .buscador__container .buscador__carrito .badge {
    position: absolute;
    top: 4px;
    right: 80px;
    padding: 4px 8px;
    border-radius: 50%;
    background-color: #10069f;
    border: 2px solid white;
    color: white;
  }
  .seccion__listado {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 30rem;
    padding: 1.5rem 0rem 1.5rem 0rem;
  }
  .seccion__listado .cards__container {
    width: 70%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    grid-gap: 2.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .seccion__listado .cards__container .card__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 15px;
    -webkit-box-shadow: 0px 3px 8px 1px rgba(56, 56, 56, 0.699);
            box-shadow: 0px 3px 8px 1px rgba(56, 56, 56, 0.699);
  }
  .seccion__listado .cards__container .card__item .card__img {
    padding: 1rem 0 1rem 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .seccion__listado .cards__container .card__item .card__img .card__bg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 70%;
  }
  .seccion__listado .cards__container .card__item .card__titulo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    color: #10069f;
    font-weight: 600;
    padding-top: 1.5rem;
  }
  .seccion__listado .cards__container .card__item .card__descrip {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #10069f;
    padding-top: 1.5rem;
  }
  .seccion__listado .cards__container .card__item .card__button {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem 0 1.5rem 0;
  }
  .seccion__listado .cards__container .card__item .card__button .card__buy {
    background-color: #10069f;
    color: White;
    width: 65%;
    height: 2rem;
    border-radius: 8px;
    border: 2px solid black;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .seccion__listado .cards__container .card__item:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}
/*# sourceMappingURL=main.css.map */