
$azulGrido: #10069f;
$hoverBlue: #41afe4;

*{
    box-sizing: border-box;
    font-family: 'Gotham Rounded', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}


@media screen and (min-width: 720px){

body{
    width: 100vw;
}
//-----NAV BAR & LOGO-----
.header__container{
    background-color: $azulGrido;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 5rem;

    .header__logo__container{
        width: 15%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .header__logo{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: left;

            .header__logo__img{
                height: 85%;
                padding-left: 2.5rem;
            }
        }
    }

    .header__nav{
        display: flex;
        justify-content: end;
        width: 80%;
        
        .header__ul{
            display: flex;
            justify-content: right;
            list-style: none;
            padding-right: 5rem;
            padding-left: 5rem;
            align-items: center;

            .header__li__container{
                padding: 3%;
                text-decoration: none;
                :hover{
                    transform: translateY(-2px);
                    transform: scale(1.1);
                }

                .header__li{
                    display: flex;
                    align-items: center;
                    font-weight: 500;
                    color: white;
                }
            }
        }
    }
}

//-----BUSCADOR & CARRITO-----

.buscador__container{
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    

    .buscador{
        height: 100%;
        width: 70%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        align-items: center;
        text-decoration: none;
        border: none;
        

        .buscador__filtro{
            display: flex;
            justify-content: center;
            text-align: center;
            width: 60%;
            font-size: 16px;
            font-weight: 600;
            text-decoration: none;
            background-color: $azulGrido;
            border-radius: 10px;
            color: white;
            padding: .5rem 2rem;
            cursor: pointer;

            &:hover{
                    background-color: white;
                    color: $azulGrido;
                    transition: .2s;
                    font-size: 18px;
                    transform: scale(1.05);
            }
        }
    }

    .buscador__carrito{
        position: relative;
        height: 100%;
        width: 10%;
        display: flex;
        justify-content: center;
        padding-right: 2rem;
        cursor: pointer;

        .buscador__carrito__svg{
            height: 100%;
            display: flex;
            justify-content: right;
            color: black;
            align-items: center;
            svg{    
                height: 40%;
            }
            :hover{
                transform: scale(1.01);
                transition: 0.5s;
            }
    }

    .badge{
    position: absolute;
    top: 4px;
    right: 80px;
    padding: 4px 8px;
    border-radius: 50%;
    background-color: $azulGrido;
    border: 2px solid white;
     color: white;
    }
    }
}


//-----CARDS & ITEMS-----

.seccion__listado{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30rem;
    padding: 1.5rem 0rem 1.5rem 0rem;

    .cards__container{
        width: 70%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2.5rem;
        align-items: center;
        padding: 0;

        .card__item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 100%;
            border: 1px solid black;
            border-radius: 15px;
            box-shadow: 0px 3px 8px 1px rgba(56, 56, 56, 0.699);

            .card__img{
                padding: 1rem 0 1rem 0;
                width: 100%;
                display: flex;
                justify-content: center;

                .card__bg{
                    display: flex;
                    justify-content: center;
                    width: 70%;
                }
            }

            .card__titulo{
                display: flex;
                justify-content: center;
                text-align: center;
                color: $azulGrido;
                font-weight: 600;
                padding-top: 1.5rem;
            }

            .card__descrip{
                display: flex;
                justify-content: center;
                color: $azulGrido;
                padding-top: 1.5rem;
            }
            
            .card__button{
                width: 100%;
                justify-content: center;
                display: flex;
                padding: 1rem 0 1.5rem 0;
                

            .card__buy{
                background-color: $azulGrido;
                color: White;
                width: 65%;
                height: 2rem;
                border-radius: 8px;
                border: 2px solid black;
                align-items: center;
                display: flex;
                justify-content: center;
                cursor: pointer;
            }
        }

            &:hover{
                    transform: scale(1.05);
                    transition: 0.5s;
            }
    }

}


}
}